	<div class="footer">
		<ul>
      <li><a href="<%= url_for('/index.html') %>" title="Úvodní stránka">zonglovani.info</a></li>
		</ul>
	</div>
  <script src="<%= url_for('/s.js') %>"></script>
  </body>
</html>
